@page "/Aufgabe"
@using BlazorSchulung3._2final.Data
@using System.Text.Json
@inject IJSRuntime JSRuntime
<h3>Aufgaben</h3>

<div class="input-group mb-3">
    <input class="form-control" @bind="NeuAufgabe" />
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" @onclick="AddAufgabe">Button</button>
    </div>
</div>
<ul class="list-group">
    @foreach (var item in ListeAufgaben)
    {
        <li class="list-group-item">
            @item.Text

        </li>
        }
    </ul>

    @code {
        public List<Aufgabe> ListeAufgaben { get; set; } = new List<Aufgabe>();
        public string NeuAufgabe { get; set; }
        void AddAufgabe()
        {
            ListeAufgaben.Add(new Aufgabe() { ID = ListeAufgaben.Count(), Text = NeuAufgabe });
            NeuAufgabe = "";
            var daten = JsonSerializer.Serialize(ListeAufgaben);
        }
    }
