@page "/js"
@inject IJSRuntime JsRuntime
<h3>JSComponent</h3>
<button @onclick="clicke">click</button>

@code {
    void clicke()
    {
        // JsRuntime.InvokeVoidAsync("ppedv.SetTitle", "JSComponent super dupah");
        JsRuntime.InvokeVoidAsync("alert", "Hallo welt");
        JsRuntime.InvokeVoidAsync("eval","document.title='JS inline'");
        RazorClassLibrary2.ExampleJsInterop.Prompt(JsRuntime, "Hallo Lib Welt");
    }
}
